/***** Text formatierungen *****/

.subtitle-1 {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #ffc107;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

.h1 {
    font-size:2rem !important;
}